#sidebar svg{
    height: 30px;
    width: 30px;
    stroke-width: 2px;
}
#sidebar .nav-item{
    margin-left: 35px;
    margin-top: 5px;
}
.tweet-button{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.tweet-button svg {
    fill:  rgb(255, 255, 255);; 
}
.item-title{
    position:absolute;
    font-size: 0.78rem;
    background: black;
    color: #fff;
    opacity: 0.8;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    visibility: hidden;
    z-index: 1;
 }
 .r-18jsvk2:hover{
    background-color: #c8c8c8;
    border-radius: 50%;
 }
 .nav-item:hover .item-title{
    visibility: visible;

 }