
.sidebar{
    height: 100vh;
    position: fixed;
}
#sidebar svg{
    height: 29px;
    width: 26px;
}
#sidebar .nav-item{
    margin-left: 85px;
    
}
.tweet-button{
    border-radius: 50%;
    height: 53px;
    width: 53px;
    margin-left: -12px;
    background-color: rgb(3, 186, 252);
    border: none;
}
.tweet-button svg {
    fill:  rgb(255, 255, 255);; 
}
.item-title{
    position:absolute;
    font-size: 0.78rem;
    background: black;
    color: #fff;
    opacity: 0.8;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    visibility: hidden;
    z-index: 1;
 }
 .r-18jsvk2:hover{
    background-color: #c8c8c8;
    border-radius: 50%;
 }
 .nav-item:hover .item-title{
    visibility: visible;

 }
 .profile-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(52, 61, 70);
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin-left: 20px;
 }
 .profile-actions .profile-name{
    font-size: 24px;
    color: #fff;
 }